parameters:


php:
	date.timezone: Europe/Prague

extensions:
	console: Kdyby\Console\DI\ConsoleExtension
	events: Kdyby\Events\DI\EventsExtension
	annotations: Kdyby\Annotations\DI\AnnotationsExtension
	doctrine: Kdyby\Doctrine\DI\OrmExtension
	redis: Kdyby\Redis\DI\RedisExtension

console:
	commands:
		- Console\ImportAddressCommand

redis:
	database: 2
	journal: on
	storage: on
	session: {database: 1, native: off}

application:
	mapping:
		*: StreetApi\Presenters\*Presenter


session:
	expiration: 14 days


services:
	router: StreetApi\RouterFactory::createRouter
	- {class: StreetApi\Services\ImportAddressService(..., %appDir%), inject: on}
	- {class: StreetApi\Services\ApiStreetsService, inject: on}
